<?xml version="1.0" encoding="utf-8"?>
<!--

Purpose: This include file configures the Social Connected features that improve the social engagement of your website.

Please read the Sitecore Social Connected documentation before changing the configuration.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!--  MAIL SERVER
            SMTP server used for sending mails by the Sitecore server
            Is used by MainUtil.SendMail()
            Default value: ""
      -->
      <setting name="MailServer" value="" patch:instead="setting[@name='MailServer']" />
      <!--  MAIL SERVER USER
            If the SMTP server requires login, enter the user name in this setting
      -->
      <setting name="MailServerUserName" value="" patch:instead="setting[@name='MailServerUserName']" />
      <!--  MAIL SERVER PASSWORD
            If the SMTP server requires login, enter the password in this setting
      -->
      <setting name="MailServerPassword" value="" patch:instead="setting[@name='MailServerPassword']" />
      <!--  MAIL SERVER PORT
            If the SMTP server requires a custom port number, enter the value in this setting.
            The default value is: 25
      -->
      <setting name="MailServerPort" value="25" patch:instead="setting[@name='MailServerPort']" />
    </settings>
  </sitecore>
</configuration>